{% extends 'base.html' %}

{% block app_styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet-routing-machine.css') }}"/>
    <link rel="Stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>

    <style>
    .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in
    {
        border: 0;
        background: #333333;
        color: #bbbbbb;
    }

    .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-out
    {
        border: 0;
        background: #333333;
        color: #bbbbbb;
    }
    </style>

{% endblock %}

{% block app_content %}
    <h1>Choose route</h1>

    <div class="ui-widget">
        <label for="from"> </label>
        <input id="from">
    </div>

    <h2 id="routes"></h2>

    <div id="map" style="height: 720px;"></div>
{% endblock %}

{% block app_scripts %}

    <script src="{{ url_for('.static', filename='leaflet.js') }}"></script>
    <script src="{{ url_for('.static', filename='geocoder-control.js') }}"></script>
    <script src="{{ url_for('.static', filename='leaflet-routing-machine.js') }}"></script>
    <script src="{{ url_for('.static', filename='jquery-3.4.1.min.js') }}"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

    <script type="text/javascript">
        if (jQuery.ui) {
            alert("Success");
        }

        let map = L.map('map', {
            minZoom: 2,
            maxZoom: 20
        });

        L.DomUtil.setOpacity(map.zoomControl.getContainer(), 0.5);

        let control = L.Routing.control({
            waypoints: [
                    L.latLng(51.1842, 4.4212),
                    L.latLng(51.17, 4.2)
                  ],
            show: false,
            routeWhileDragging: true,
            routeDragInterval: 200,
            showAlternatives: true,
            addWaypoints: false,
            router: L.Routing.mapbox('pk.eyJ1IjoiZnVua3ltYW5pYWMiLCJhIjoiY2s2dDZzeGlxMG1lNzNmcGdoZGljdnp0bCJ9.5WI4sA19cj8iCPNkZemm9Q'),
            lineOptions: {styles: [{color: '#769ad4', opacity: 0.15, weight: 9},
                                   {color: '#769ad4', opacity: 0.8 , weight: 6},
                                   {color: '#769ad4', opacity: 1   , weight: 2}]},

           altLineOptions: {styles: [{color: '#b0c5e6', opacity: 0.15, weight: 9},
                                     {color: '#b0c5e6', opacity: 0.8 , weight: 6},
                                     {color: '#b0c5e6', opacity: 1   , weight: 2}]},
        }).on('routesfound', function(result)
        {
            const routes = result.routes;
            let str = "";

            for(let i = 0; i < routes.length; i++)
            {
                const dist = (routes[i].summary.totalDistance / 1000).toFixed(1);
                const time = (routes[i].summary.totalTime / 60).toFixed(0);
                str += "route " + i + ": " + dist + "km - " + time + "min<br>";

                document.getElementById("routes").innerHTML = str;
            }
        }).on('routingerror', function(result)
        {
            document.getElementById("routes").innerHtml = "no route found";
        }).on('routingstart', function(result)
        {
            document.getElementById("routes").innerHtml = "calculating routes";
        }).addTo(map);

        // this hides the plan from the map
        control._container.style.display = "None";

        // {x} and {y} are the coordinates of where you are on the map
        // {z} is the zoom level
        // {s} is the subdomain of cartodb
        L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png').addTo(map);

        let from = document.getElementById("from");
        from.onchange = function()
        {
            addWaypoint(from.value)
         };

        $( function()
        {
            $("#from").autocomplete({
                source: function (request, response) {
                    request.replace(/\s/g, '+');
                    alert('yeah');

                    $.ajax({
                        url: "https://nominatim.openstreetmap.org/search?q=" + request + "&format=geojson",
                        type: "GET",
                        success: function (xhr) {
                            response(xhr);
                        },
                        error: function (xhr) {
                            alert(xhr);
                        }
                    });
                },
                response: function (response)
                {
                    alert('yaya');
                }
            });
        });


    </script>
{% endblock %}
