{% extends 'base.html' %}

{% block app_styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet-routing-machine.css') }}"/>
{#    <link rel="Stylesheet" href="{{ url_for('.static', filename='jquery-ui.min.css') }}"/>#}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <style>
    .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in
    {
        border: 0;
        background: #333333;
        color: #bbbbbb;
    }

    .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-out
    {
        border: 0;
        background: #333333;
        color: #bbbbbb;
    }

    {# brings the autocomplete field to teh front of the map#}
    .ui-autocomplete
    {
        z-index: 9999 !important;
    }
    </style>

{% endblock %}

{% block app_content %}
        <h1>Choose route</h1>

<div class="row">
    <div class="ui-widget col-xs-5">
        <label for="from"> </label>
        <input id="from" class="form-control" placeholder="from">
    </div>

    <div class="ui-widget col-xs-5">
        <label for="to"> </label>
        <input id="to" class="form-control" placeholder="to">
    </div>

    <div class="col-xs-2">
        <button id="reverse" type="button" class="btn btn-primary">&#8645</button>
    </div>
</div>
    <h2 id="routes"></h2>

    <div id="map" style="height: 720px;"></div>
{% endblock %}

{% block app_scripts %}

    <script src="{{ url_for('.static', filename='leaflet.js') }}"></script>
    <script src="{{ url_for('.static', filename='geocoder-control.js') }}"></script>
    <script src="{{ url_for('.static', filename='leaflet-routing-machine.js') }}"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">

        let map = L.map('map', {
            minZoom: 2,
            maxZoom: 20
        }).setView([50.8, 4.6], 9);



        // makes zoom transparent
        L.DomUtil.setOpacity(map.zoomControl.getContainer(), 0.5);

        let control = L.Routing.control({
            waypoints: [null, null],
            show: false,
            routeWhileDragging: true,
            routeDragInterval: 200,
            showAlternatives: true,
            addWaypoints: false,
            router: L.Routing.mapbox('pk.eyJ1IjoiZnVua3ltYW5pYWMiLCJhIjoiY2s2dDZzeGlxMG1lNzNmcGdoZGljdnp0bCJ9.5WI4sA19cj8iCPNkZemm9Q'),
            lineOptions: {styles: [{color: '#769ad4', opacity: 0.15, weight: 9},
                                   {color: '#769ad4', opacity: 0.8 , weight: 6},
                                   {color: '#769ad4', opacity: 1   , weight: 2}]},

            altLineOptions: {styles: [{color: '#b0c5e6', opacity: 0.15, weight: 9},
                                      {color: '#b0c5e6', opacity: 0.8 , weight: 6},
                                      {color: '#b0c5e6', opacity: 1   , weight: 2}]},
        }).on('routesfound', function(result)
        {
            const routes = result.routes;
            let str = "";

            for(let i = 0; i < routes.length; i++)
            {
                const dist = (routes[i].summary.totalDistance / 1000).toFixed(1);
                const time = (routes[i].summary.totalTime / 60).toFixed(0);
                str += "route " + i + ": " + dist + "km - " + time + "min<br>";

                document.getElementById("routes").innerHTML = str;
            }
        }).on('routingerror', function(result)
        {
            document.getElementById("routes").innerHtml = "no route found";
        }).on('routingstart', function(result)
        {
            document.getElementById("routes").innerHtml = "calculating routes";
        }).addTo(map);

        // this hides the plan from the map
        control._container.style.display = "None";

        // {x} and {y} are the coordinates of where you are on the map
        // {z} is the zoom level
        // {s} is the subdomain of cartodb
        L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png').addTo(map);


        let fromOptions = [];
        let toOptions = [];

        let getNewRoutes = function(request, response, which)
        {
            request.term.replace(/\s/g, '+');
            $.ajax({
                url: "https://nominatim.openstreetmap.org/search?q=" + request.term + "&format=geojson",
                type: "GET",
                success: function (xhr)
                {
                    let tempOptions = [];
                    for(let i = 0; i < xhr.features.length; i++)
                    {
                        const name = xhr.features[i].properties.display_name;
                        const lnglat = xhr.features[i].geometry.coordinates;
                        tempOptions.push(name);
                        tempOptions = [...new Set(tempOptions)];

                        if(which === 'from') fromOptions.push({name: name, latlng: [lnglat[1], lnglat[0]]});
                        else if(which === 'to') toOptions.push({name: name, latlng: [lnglat[1], lnglat[0]]});
                    }
                    response(tempOptions);
                },
                error: function (xhr)
                {
                    alert(xhr);
                }
            });
        };

        let updateWaypoints = function(location, which)
        {
            if(which === 'from')
            {
                const elem = fromOptions.find(elem => elem.name === location);
                control.spliceWaypoints(0, 1, L.latLng(elem.latlng));
            }
            else if(which === 'to')
            {
                const elem = toOptions.find(elem => elem.name === location);
                control.spliceWaypoints(1, 1, L.latLng(elem.latlng));
            }
        };

        let from = $("#from");
        let to = $("#to");

        from.val('');
        to.val('');

        from.autocomplete({
            delay: 500,
            minLength: 3,
            source: function (request, response)
            {
                getNewRoutes(request, response, 'from');
            },
            select: function (event, ui)
            {
                updateWaypoints(ui.item.label, 'from');
            }
        });

        // copy pasta
        to.autocomplete({
            delay: 500,
            minLength: 3,
            source: function (request, response)
            {
                getNewRoutes(request, response, 'to');
            },
            select: function (event, ui)
            {
                updateWaypoints(ui.item.label, 'to');
            }
        });

        document.getElementById('reverse').onclick = function()
        {
            let temp = to.val();
            to.val(from.val());
            from.val(temp);

            updateWaypoints(from.val(), 'from');
            updateWaypoints(to.val(), 'to');
        };

    </script>
{% endblock %}
