<div class="card m-3">
    <div class=" card-header">
        <nav>
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-item nav-link active" data-toggle="tab"
                       href="#body-overview-{{ ride.id }}">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" data-toggle="tab"
                       href="#body-map-{{ ride.id }}">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" data-toggle="tab"
                       href="#body-car-{{ ride.id }}">Car</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="tab-content card-body">
        <div class="tab-pane fade show active" id="body-overview-{{ ride.id }}">
            {#            TODO geen coordinaten maar namen #}
            <span class="text-left font-weight-bold">From: </span>{{ ride.depart_from }}<br>
            <span class="text-left font-weight-bold">To: </span>{{ ride.arrive_at }}<br>
            <span class="text-left font-weight-bold">Arrival Time: </span>{{ ride.arrival_time }}<br>
            <span class="text-left font-weight-bold">Driver: </span><a
                href="{{ url_for('profile.user', user_id=ride.driver.id) }}">{{ ride.driver.username }}</a><br>
            {#            TODO places left, passengers, ...#}
            <span class="text-left font-weight-bold">Passenger Places Available: </span>{{ ride.passenger_places_left() }}/{{ ride.passenger_places }}<br>

            {# delete button for the rides which can be edited #}
            {% if form is defined %}
                <form method="post" name="ride">
                    {{ form.ride_id(type="hidden", value=ride.id) }}
                    {{ form.delete(class="form-control", id="delete") }}
                </form>
            {% endif %}

        </div>
        <div class="tab-pane fade" id="body-map-{{ ride.id }}">
            <div id="map{{ ride.id }}" style="height: 500px;"></div>
        </div>
        <div class="tab-pane fade" id="body-car-{{ ride.id }}">
            <h5 class="card-title">Car</h5>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.nav-tabs a').on('shown.bs.tab', function () {
            maps.map{{ ride.id }}.invalidateSize();
            maps.map{{ ride.id }}.setZoom(9);
        });
    });
</script>