<div class="card m-3">
    <div class=" card-header">
        <nav>
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-item nav-link active" data-toggle="tab"
                       href="#body-overview-{{ ride.id }}">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" data-toggle="tab"
                       href="#body-map-{{ ride.id }}">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" data-toggle="tab"
                       href="#body-car-{{ ride.id }}">Car</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="tab-content card-body">
        <div class="tab-pane fade show active" id="body-overview-{{ ride.id }}">
            {#            TODO geen coordinaten maar namen #}
            <span class="text-left font-weight-bold">From: </span>{{ ride.depart_from }}<br>
            <span class="text-left font-weight-bold">To: </span>{{ ride.arrive_at }}<br>
            <span class="text-left font-weight-bold">Arrival Time: </span>{{ moment(ride.arrival_time).calendar() }}<br>
            <span class="text-left font-weight-bold">Driver: </span><a
                href="{{ url_for('profile.user', user_id=ride.driver.id) }}">{{ ride.driver.username }}</a><br>
            {#            TODO places left, passengers, ...#}
            <span class="text-left font-weight-bold">Passenger Places Available: </span>{{ ride.passenger_places_left() }}/{{ ride.passenger_places }}<br>

            {# delete button for the rides which can be edited #}
            {% if delete is defined %}
                <form method="post" name="ride">
                    {{ delete.ride_id(type="hidden", value=ride.id) }}
                    {{ delete.delete(class="form-control", id="delete") }}
                </form>
            {% endif %}

            {% if choice is defined %}
                <form method="post" name="ride">
                    {{ choice.ride_id(type="hidden", value=ride.id) }}
                    {{ choice.accept(class="form-control", id="accept") }}
                    {{ choice.reject(class="form-control", id="reject") }}
                </form>
            {% endif %}

        </div>
        <div class="tab-pane fade" id="body-map-{{ ride.id }}">
            <div id="map{{ ride.id }}" style="height: 500px;"></div>
        </div>
        <div class="tab-pane fade" id="body-car-{{ ride.id }}">
            {% if ride.car %}
                <span class="text-left font-weight-bold">license_plate: </span>{{ ride.car.license_plate }}<br>
                <span class="text-left font-weight-bold">model: </span>{{ ride.car.model }}<br>
                <span class="text-left font-weight-bold">colour: </span>{{ ride.car.colour }}<br>
                <span class="text-left font-weight-bold">passenger_places: </span>{{ ride.car.passenger_places }}<br>
                <span class="text-left font-weight-bold">build_year: </span>{{ ride.car.build_year }}<br>
                <span class="text-left font-weight-bold">fuel: </span>{{ ride.car.fuel }}<br>
                <span class="text-left font-weight-bold">consumption: </span>{{ ride.car.consumption }}<br>
            {% else %}
                <span class="text-left font-weight-bold">The driver has not yet registered a car for this drive</span><br>
            {% endif %}
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.nav-tabs a').on('shown.bs.tab', function () {
            maps.map{{ ride.id }}.invalidateSize();
            maps.map{{ ride.id }}.setZoom(9);
        });
    });


</script>