{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{#do not delete this!!!!1#}
{% block app_styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet-routing-machine.css') }}"/>
{% endblock %}

{% block app_content %}
    <div class="card card-body">
        <form method="post" name="ride">
            {{ wtf.quick_form(details) }}
        </form>
    </div>

    {% if not rides %}
        <h1> We couldn't find any rides for you </h1>
    {% endif %}

    {% for ride in rides %}
        {% include '_ride.html' %}
    {% endfor %}

{% endblock %}