{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{#do not delete this!!!!1#}
{% block app_styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet-routing-machine.css') }}"/>
{% endblock %}

{% block app_content %}
    <h1 class="display-4">Find Drives</h1>
    <div class="card m-3">
        <div class=" card-body">
            {{ wtf.quick_form(details) }}
        </div>
    </div>

    {% if not rides %}
        <h4>We couldn't find any rides for you</h4>
    {% endif %}

    {% for ride in rides %}
        {% include '_ride.html' %}
    {% endfor %}

{% endblock %}