{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet-routing-machine.css') }}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <style>
        .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in {
            border: 0;
            background: #333333;
            color: #bbbbbb;
        }

        .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-out {
            border: 0;
            background: #333333;
            color: #bbbbbb;
        }
    </style>

{% endblock %}

{% block app_content %}

    <div id="map" style="height: 600px;"></div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <h5 id="route" class="card-title">No route selected</h5>

                    <form method="post" name="ride">
                        {{ form.from_lon(id="from_lon", type="hidden") }}
                        {{ form.from_lat(id="from_lat", type="hidden") }}
                        {{ form.to_lon(id="to_lon", type="hidden") }}
                        {{ form.to_lat(id="to_lat", type="hidden") }}
                        {{ form.arrival_time(id="arrival_time", type="hidden") }}

                        <div class="form-row" style="padding:10px">
                            <div class="ui-widget col-sm">
                                {{ form.passenger_places(class="form-control", id="passengers", placeholder="passenger capacity") }}
                            </div>
                        </div>

                        <div class="form-row" style="padding:10px">
                            <div class="ui-widget col-sm">
                                {{ form.confirm(class="form-control", id="confirm") }}
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block app_scripts %}

    <script src="{{ url_for('.static', filename='leaflet.js') }}"></script>
    <script src="{{ url_for('.static', filename='geocoder-control.js') }}"></script>
    <script src="{{ url_for('.static', filename='leaflet-routing-machine.js') }}"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">

        let map = L.map('map', {
            minZoom: 2,
            maxZoom: 20
        }).setView([50.8, 4.6], 9);

        // makes zoom transparent
        L.DomUtil.setOpacity(map.zoomControl.getContainer(), 0.5);

        let control = L.Routing.control({
            waypoints: [null, null],
            show: false,
            routeWhileDragging: true,
            routeDragInterval: 200,
            showAlternatives: true,
            addWaypoints: false,
            router: L.Routing.mapbox('pk.eyJ1IjoiZnVua3ltYW5pYWMiLCJhIjoiY2s2dDZzeGlxMG1lNzNmcGdoZGljdnp0bCJ9.5WI4sA19cj8iCPNkZemm9Q'),
            lineOptions: {
                styles: [{color: '#769ad4', opacity: 0.15, weight: 9},
                    {color: '#769ad4', opacity: 0.8, weight: 6},
                    {color: '#769ad4', opacity: 1, weight: 2}]
            },

            altLineOptions: {
                styles: [{color: '#b0c5e6', opacity: 0.15, weight: 9},
                    {color: '#b0c5e6', opacity: 0.8, weight: 6},
                    {color: '#b0c5e6', opacity: 1, weight: 2}]
            },
        }).on('routingerror', function (result) {
            document.getElementById("route").innerHtml = "no route found";
        }).on('routingstart', function (result) {
            document.getElementById("route").innerHtml = "calculating route";
        }).on('routeselected', function (result) {
            const dist = (result.route.summary.totalDistance / 1000).toFixed(1);
            const time = (result.route.summary.totalTime / 60).toFixed(0);

            // add minutes to the date object, so we multiply by 60 000 because javascript
            let date = new Date('{{ dt }}');
            date = new Date(date.getTime() + time * 60000);

            let eta = date.getHours() + ':';

            if(date.getMinutes() < 10) eta = eta + '0' + date.getMinutes();
            else eta = eta + date.getMinutes();

            document.getElementById("route").innerHTML = (time + "min (" + dist + "km) - eta: " + eta);
            document.getElementById("arrival_time").value = date.toISOString();
            alert(document.getElementById("arrival_time").value);
        }).addTo(map);

        // this hides the plan from the map
        control._container.style.display = "None";

        // {x} and {y} are the coordinates of where you are on the map
        // {z} is the zoom level
        // {s} is the subdomain of cartodb
        L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png').addTo(map);

        let getNewRoutes = function (location, which) {
            location.replace(/\s/g, '+');
            $.ajax({
                url: "https://photon.komoot.de/api/?q=" + location + "&lat=51.0&lon=4.0&limit=1",
                type: "GET",
                success: function (xhr) {
                    const lnglat = xhr.features[0].geometry.coordinates;

                    if (which === 'from') {
                        control.spliceWaypoints(0, 1, L.latLng(lnglat[1], lnglat[0]));

                        document.getElementById("from_lon").value = lnglat[0];
                        document.getElementById("from_lat").value = lnglat[1];
                    } else if (which === 'to') {
                        control.spliceWaypoints(1, 1, L.latLng(lnglat[1], lnglat[0]));

                        document.getElementById("to_lon").value = lnglat[0];
                        document.getElementById("to_lat").value = lnglat[1];
                    }
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        };

        getNewRoutes('{{ fl }}', 'from');
        getNewRoutes('{{ tl }}', 'to');

    </script>
{% endblock %}