{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet-routing-machine.css') }}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <style>
        .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in {
            border: 0;
            background: #333333;
            color: #bbbbbb;
        }

        .leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-out {
            border: 0;
            background: #333333;
            color: #bbbbbb;
        }
    </style>

{% endblock %}

{% block app_content %}
    <h1 class="display-4">{{ title }}</h1>

    <div id="map" class="mb-3" style="height: 600px;"></div>

    <h5 id="route" class="card-title">No route selected</h5>
    <form method="post" name="ride" onsubmit="beforeSubmit()">
        {{ form.from_lon(type="hidden") }}
        {{ form.from_lat(type="hidden") }}
        {{ form.to_lon(type="hidden") }}
        {{ form.to_lat(type="hidden") }}
        {{ form.departure_id(type="hidden") }}
        {{ form.arrival_id(type="hidden") }}
        {{ form.arrival_time(type="hidden") }}
        {{ form.departure_time(type="hidden") }}

        {{ wtf.form_field(form.time, type="time", class="form-control") }}
        {{ wtf.form_field(form.date, type="date", class="form-control") }}

        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.passenger_places) }}
        {{ wtf.form_field(form.license_plate) }}
        {{ wtf.form_field(form.confirm) }}
    </form>

{% endblock %}

{% block app_scripts %}

    <script src="{{ url_for('.static', filename='leaflet.js') }}"></script>
    <script src="{{ url_for('.static', filename='geocoder-control.js') }}"></script>
    <script src="{{ url_for('.static', filename='leaflet-routing-machine.js') }}"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        let map = L.map('map', {
            minZoom: 2,
            maxZoom: 20
        }).setView([50.8, 4.6], 9);

        let rideMinutes = 0;

        {% if fl is defined %}
            temp_date = new Date('{{ at }}');
        {% else %}
            secs = Date.parse(document.getElementById("arrival_time").value);
            temp_date = new Date(secs - new Date().getTimezoneOffset() * 60 * 1000);
        {% endif %}

        const hour = (temp_date.getHours() < 10 ? "0" : "") + temp_date.getHours();
        const min = (temp_date.getMinutes() < 10 ? "0" : "") + temp_date.getMinutes();
        const day = (temp_date.getDate() < 10 ? "0" : "") + temp_date.getDate();
        const month = ((temp_date.getMonth()+1) < 10 ? "0" : "") + (temp_date.getMonth()+1);

        document.getElementById("time").value = hour + ':' + min;
        document.getElementById("date").value = temp_date.getFullYear() + '-' + month + '-' + day

        document.getElementById("arrival_time").value = new Date('{{ at }}').toISOString();

        // makes zoom transparent
        L.DomUtil.setOpacity(map.zoomControl.getContainer(), 0.5);

        let control = L.Routing.control({
            waypoints: [null, null],
            show: false,
            routeWhileDragging: true,
            routeDragInterval: 200,
            showAlternatives: true,
            addWaypoints: false,
            router: L.Routing.mapbox('pk.eyJ1IjoiZnVua3ltYW5pYWMiLCJhIjoiY2s2dDZzeGlxMG1lNzNmcGdoZGljdnp0bCJ9.5WI4sA19cj8iCPNkZemm9Q'),
            lineOptions: {
                styles: [{color: '#769ad4', opacity: 0.15, weight: 9},
                    {color: '#769ad4', opacity: 0.8, weight: 6},
                    {color: '#769ad4', opacity: 1, weight: 2}]
            },

            altLineOptions: {
                styles: [{color: '#b0c5e6', opacity: 0.15, weight: 9},
                    {color: '#b0c5e6', opacity: 0.8, weight: 6},
                    {color: '#b0c5e6', opacity: 1, weight: 2}]
            },
        }).on('routingerror', function (result) {
            document.getElementById("route").innerHtml = "no route found";
            alert("no route could be found, please try again");
        }).on('routingstart', function (result) {
            document.getElementById("route").innerHtml = "calculating route";
        }).on('routeselected', function (result) {
            const dist = (result.route.summary.totalDistance / 1000).toFixed(1);
            rideMinutes = (result.route.summary.totalTime / 60).toFixed(0);

            // add minutes to the date object, so we multiply by 60 000 because javascript
            let date = new Date('{{ at }}');
            date = new Date(date.getTime() - rideMinutes * 60000);

            document.getElementById("route").innerHTML = (rideMinutes + "min (" + dist + "km)");
            document.getElementById("departure_time").value = date.toISOString();
        }).addTo(map);

        // this hides the plan from the map
        control._container.style.display = "None";

        // {x} and {y} are the coordinates of where you are on the map
        // {z} is the zoom level
        // {s} is the subdomain of cartodb
        L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png').addTo(map);


        function reverse(lat, lon, which) {
            $.ajax({
                url: "https://nominatim.openstreetmap.org/reverse?lat=" + lat + "&lon=" + lon + "&format=json",
                type: "GET",
                async: false,
                success: function (xhr) {
                    let res;
                    if (xhr.osm_type === 'way') res = 'W';
                    else if (xhr.osm_type === 'relation') res = 'R';
                    else if (xhr.osm_type === 'node') res = 'N';
                    res += xhr.osm_id;

                    if (which === 'from') document.getElementById("departure_id").value = res;
                    else if (which === 'to') document.getElementById("arrival_id").value = res;
                    else alert("yeeet")
                },
                error: function (xhr) {
                    console.log(xhr)
                }
            });
        }

        function beforeSubmit() {
            const from = control.getWaypoints()[0].latLng;
            const to = control.getWaypoints()[1].latLng;

            const arrive = new Date(document.getElementById("date").value + 'T' + document.getElementById("time").value)
            const depart = new Date(arrive.getTime() - rideMinutes * 60000);

            document.getElementById("arrival_time").value = arrive.toISOString();
            document.getElementById("departure_time").value = depart.toISOString();

            if (Math.abs(from.lat - document.getElementById("from_lat").value) > 0.00001 ||
                Math.abs(from.lng - document.getElementById("from_lon").value) > 0.00001 ||
                Math.abs(to.lat - document.getElementById("to_lat").value) > 0.00001 ||
                Math.abs(to.lng - document.getElementById("to_lon").value) > 0.00001) {
                document.getElementById("from_lat").value = from.lat;
                document.getElementById("from_lon").value = from.lng;
                document.getElementById("to_lat").value = to.lat;
                document.getElementById("to_lon").value = to.lng;

                reverse(from.lat, from.lng, 'from');
                reverse(to.lat, to.lng, 'to');
            }
            return true;
        }

        {% if fl is defined %}

            let getNewRoutes = function (location, which) {
                location.replace(/\s/g, '+');
                $.ajax({
                    url: "https://nominatim.openstreetmap.org/search/" + location + "?format=geojson",
                    type: "GET",
                    success: function (xhr) {
                        if (xhr.features.length === 0) {
                            if (which === 'from') {
                                alert("could not find departure address location: {{ fl }}")
                            } else if (which === 'to') {
                                alert("could not find arrival address location: {{ tl }}")
                            }
                        }

                        const lnglat = xhr.features[0].geometry.coordinates;
                        const prop = xhr.features[0].properties;

                        let res;
                        if (prop.osm_type === 'way') res = 'W';
                        else if (prop.osm_type === 'relation') res = 'R';
                        else if (prop.osm_type === 'node') res = 'N';
                        res += prop.osm_id;

                        if (which === 'from') {
                            control.spliceWaypoints(0, 1, L.latLng(lnglat[1], lnglat[0]));
                            document.getElementById("departure_id").value = res;

                            document.getElementById("from_lon").value = lnglat[0];
                            document.getElementById("from_lat").value = lnglat[1];
                        } else if (which === 'to') {
                            control.spliceWaypoints(1, 1, L.latLng(lnglat[1], lnglat[0]));
                            document.getElementById("arrival_id").value = res;

                            document.getElementById("to_lon").value = lnglat[0];
                            document.getElementById("to_lat").value = lnglat[1];
                        }
                    },
                    error: function (xhr) {
                        alert(xhr)
                    }
                });
            };

            getNewRoutes('{{ fl }}', 'from');
            getNewRoutes('{{ tl }}', 'to');
        {% else %}
            const flat = document.getElementById("from_lat").value;
            const flon = document.getElementById("from_lon").value;
            const tlat = document.getElementById("to_lat").value;
            const tlon = document.getElementById("to_lon").value;
            control.spliceWaypoints(0, 1, L.latLng(flat, flon));
            control.spliceWaypoints(1, 1, L.latLng(tlat, tlon));
        {% endif %}
    </script>
{% endblock %}