{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{#do not delete this!!!!!#}
{% block app_styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet-routing-machine.css') }}"/>
{% endblock %}

{% block app_content %}
    <h1 class="display-4">{{ title }}</h1>
    <hr>

    {% if choice is defined and not requests %}
        <h1> You don't have any pending requests </h1>
    {% endif %}

    {% if delete_req is defined and not requests %}
        <h1> You don't have any future rides as passenger </h1>
    {% endif %}


    {% for request in requests %}
        {% set ride = request.ride -%}
        {% set passenger = request.passenger -%}
        {% include '_ride.html' %}
    {% endfor %}
{% endblock %}