{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{#do not delete this!!!!1#}
{% block app_styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet-routing-machine.css') }}"/>
{% endblock %}

{% block app_content %}
    <h1 class="display-4">{{ title }}</h1>
    <hr>

    {% if not rides %}
        {% if delete %}
            <h4>You don't have any offered rides yet for the future</h4>
        {% elif delete_req %}
            <h4>You don't have any future requests yet for the future</h4>
        {% else %}
            <h4>No rides were found for the future</h4>
        {% endif %}
    {% endif %}

    {% for ride in rides %}
        {% include '_ride.html' %}
    {% endfor %}
{% endblock %}