{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{#do not delete this!!!!1#}
{% block app_styles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='leaflet-routing-machine.css') }}"/>
{% endblock %}

{% block app_content %}
    <div class="row">
        <h1 class="display-4 col-sm-7">{{ title }}</h1>

        {% if time is defined and time == 'future' or time == 'past' or time == 'all' %}
            {% if time != 'future' %}
                <button onclick="location.href = '{{ url_for(request.url_rule.endpoint, time='future') }}';" type="button"
                        class="col-2 btn btn-secondary" style="border-radius:100px"> future drives
                </button>
            {% endif %}
            {% if time != 'past' %}
                <button onclick="location.href = '{{ url_for(request.url_rule.endpoint, time='past') }}';" type="button"
                        class="col-2 btn btn-secondary" style="border-radius:100px"> past drives
                </button>
            {% endif %}
            {% if time != 'all' %}
                <button onclick="location.href = '{{ url_for(request.url_rule.endpoint, time='all') }}';" type="button"
                        class="col-2 btn btn-secondary" style="border-radius:100px"> all drives
                </button>
            {% endif %}
        {% endif %}
    </div>



    <hr>

    {% if details is defined %}
        <div class="card m-3">
            <div class=" card-body">
                {{ wtf.quick_form(details) }}
            </div>
        </div>
    {% endif %}

    {% if rides is defined %}
        {% if not rides %}
            <h4>{{ none_found }}</h4>
        {% endif %}
        {% for ride in rides %}
            {% include '_ride.html' %}
        {% endfor %}
    {% elif requests is defined %}
        {% if not requests %}
            <h4>{{ none_found }}</h4>
        {% endif %}
        {% for request in requests %}
            {% set ride = request.ride -%}
            {% include '_ride.html' %}
        {% endfor %}
    {% endif %}

    {% if page is defined and max_pages is defined %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page > 1 %}
                    <li class="page-item"><a class="page-link" href="#">previous</a></li>
                {% endif %}
                {% if max_pages - page > 1 %}
                    <li class="page-item"><a class="page-link" href="#">{{ next }}</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}


{% endblock %}