{% extends 'bootstrap/base.html' %}

{% block title %}
    CarWave{% if title %} - {{ title }}{% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .invalid-feedback {
            display: block;
        }

        body {
        {% if title == 'Available Drives' or title == 'Passenger Drives' or title == 'My Drives' or title == 'My Requests' or title == 'My Drives'%}
            background-image: url('{{ url_for('main.static', filename='wave1.jpg') }}');
        {% elif title == 'My Cars' or title == 'Edit Profile' or title == 'Edit Car' or title == 'Login' or title == 'Register' or title == 'Reset Password' or title == 'Reset Password Request' %}
            background-image: url('{{ url_for('main.static', filename='wave0.jpg') }}');
        {% else %}
            background-image: url('{{ url_for('main.static', filename='wave2.jpg') }}');
        {% endif %}
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            -o-background-size: cover;
        }

        .background_color {
            background-color: {% if background is defined %}#ddddddaa{% else %}#dddddd00{% endif %};
        }
    </style>
    {% block app_styles %}
    {% endblock %}
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <link rel="shortcut icon" href="{{ url_for('main.static', filename='favicon.ico') }}">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'message' %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="card border-0 shadow my-3 mx-0 background_color">
            <div class="card-body px-4 py-5 {% if title is defined and title == "Home" %}text-center{% endif %}">
                {% block app_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {% block app_scripts %}
    {% endblock %}
{% endblock %}


