{% extends 'bootstrap/base.html' %}

{% block title %}
    CarWave{% if title %} - {{ title }}{% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .invalid-feedback {
            display: block;
        }
    </style>
    {% block app_styles %}
    {% endblock %}
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <link rel="shortcut icon" href="{{ url_for('main.static', filename='favicon.ico') }}">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'message' %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {% block app_scripts %}
    {% endblock %}
{% endblock %}


