{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_styles %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round"/>

    <style>
        h1 {
            font-family: Varela Round, sans-serif
        }

        .big {
            font-size: 8rem
        }

        @media only screen and (max-device-width: 1024px) {
            .big {
                font-size: 3rem
            }
            .smaller{
                font-size: 2rem;
            }
        }
    </style>
{% endblock %}

{% block app_content %}
    <div>
        <h1 class="text-center font-weight-bold display-1 big"
            style="color:#f7931e">
            CarWave
        </h1>
        <h1 class="text-center font-weight-bold display-4 m-3 smaller"
            style="color:#0e0f3b">
            surf to your destination
        </h1>
    </div>
    <div class="container">
        <form method="post" name="ride">
            <div class="form-row" style="padding:10px">
                <div class="ui-widget col-sm" style="margin:0">
                    {{ form.from_location(class="form-control", id="from", placeholder="from", style="border-radius:100px") }}
                </div>
                <div class="col-sm-auto">
                    <button id="reverse" type="button" class="btn btn-white d-none d-sm-block">&#8646</button>
                </div>
                <div class="ui-widget col-sm">
                    {{ form.to_location(class="form-control", id="to", placeholder="to", style="border-radius:100px") }}
                </div>

            </div>
            <div class="form-row" style="padding:10px">
                <div class="ui-widget col-sm">
                    {{ form.date(class="form-control", type="date", class="center form-control", style="border-radius:100px") }}
                </div>

                <div class="ui-widget col-sm">
                    {{ form.time(id="time", type="time", class="center form-control", style="border-radius:100px") }}
                </div>
            </div>
            <div class="form-row justify-content-md-center" style="padding:10px">
                {{ form.offer(value='offer', class="col-4 btn text-white form-control", placeholder="offer drive", style="border-radius:100px; background-color:#f7931e") }}
                <div class="col-2"></div>
                {{ form.find(value = 'find', class="col-4 btn text-white form-control", placeholder="find drive", style="border-radius:100px; background-color:#0e0f3b") }}
            </div>
        </form>
    </div>
{% endblock %}

{% block app_scripts %}

    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">

        document.getElementById("date").setAttribute("min", new Date().toISOString().split("T")[0]);

        let from = $("#from");
        let to = $("#to");

        let getNewRoutes = function (request, response) {
            request.term.replace(/\s/g, '+');
            $.ajax({
                url: "https://photon.komoot.de/api/?q=" + request.term + "&lat=51.1845557&lon=4.4199296",
                type: "GET",
                success: function (xhr) {
                    let tempOptions = [];
                    for (let i = 0; i < xhr.features.length; i++) {
                        const properties = xhr.features[i].properties;

                        let name = properties.name + ", ";
                        if (properties.city != null) name += properties.city + ", ";
                        name += properties.country;

                        tempOptions.push(name);
                        tempOptions = [...new Set(tempOptions)];
                    }
                    response(tempOptions);
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        };

        from.autocomplete({
            delay: 500,
            source: function (request, response) {
                getNewRoutes(request, response);
            },
        });

        to.autocomplete({
            delay: 500,
            source: function (request, response) {
                getNewRoutes(request, response);
            },
        });

        document.getElementById('reverse').onclick = function () {
            let temp = to.val();
            to.val(from.val());
            from.val(temp);
        };


    </script>
{% endblock %}