<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#0e0f3b">
    {#    TODO LOGO#}
    <a class="navbar-brand" href="{{ url_for('main.index') }}">TODO LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('offer.all_rides') }}">Available Rides</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_anonymous %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" style="color:#ffffff;">
                        My drives
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink"
                         style="background-color: #0e0f3b">
                        <a class="dropdown-item text-white" href="{{ url_for('offer.passenger_rides') }}">As Passenger</a>
                        <a class="dropdown-item text-white" href="{{ url_for('offer.driver_rides') }}">As Driver</a>
                        <a class="dropdown-item text-white" href="{{ url_for('offer.requests') }}">Pending Requests</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('profile.user', user_id=current_user.id) }}">My
                        Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>