{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="jumbotron" style="margin-top: 20px; opacity:0.8;">
        <div class="container">
            <h1 class="display-2">Why Carpooling?</h1>
            <p> Daily commuting by car can be expensive, monotonous and frustrating. All problems
                which can be solved by carpooling. Carpooling together allows you to share costs,
                is more fun, reduces the number of cars on the road and is better for the environment. Organizing it
                however can be quite the struggle. This is where CarWave comes in.</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4" style="opacity:0.8; background-color: #e9ecef">
                <h2>Easy to use</h2>
                <p>Just enter your route and see all possible rides within 1 click! find your ideal carpool partner.
                    Enter a ride that you often ride or place an advertisement and CarWave automatically matches you
                    with possible fellow CarSurfers. </p>
            </div>
            <div class="col-md-4" style="opacity:0.8; background-color: #e9ecef">
                <h2>Flexible</h2>
                <p>Where other carpool applications mainly target one specific target group, CarWave tries to remain as
                    accessible and flexible as possible and we focus on the most pleasant and at the same time efficient
                    user experience.</p>
            </div>
            <div class="col-md-4" style="opacity:0.8; background-color: #e9ecef">
                <h2>Social</h2>
                <p>Make chat groups with multiple CarSurfers, see detailed info about your passengers and drivers to
                    find your ideal partners. Maybe you can even find your dream lover through CarWave! </p>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}
