{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 class="display-4">My Cars</h1>

    {% if not cars %}
        <h4>You don't have any registered cars yet</h4>
    {% endif %}

    {% for car in cars %}
        <div class="card m-2">
            <div class=" card-header">
                <span class="text-left font-weight-bold">{{ car.license_plate }}</span>
            </div>
            <div class="card-body">
                <p>
                </p>
                <a href="{{ url_for('profile.car_edit', username=current_user.username, license_plate=car.license_plate) }}"
                   class="btn btn-primary">Edit car</a>
            </div>
        </div>
    {% endfor %}
    <h1 class="display-4">Add a Car</h1>
{#    <div class="card border-0" style="background-color: #00000000">#}
{#    <div class="card-body">#}
        {{ wtf.quick_form(create) }}
{#        </div>#}
{#    </div>#}
{% endblock %}