{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 class="display-4">My Cars</h1>

    {% for car in cars %}
        <div class="card m-3">
            <div class=" card-header">
{#                TODO MAKEUP ZOALS RIDES#}
                <p>{{ car.license_plate }}</p>
                <p>{{ car.model }}</p>
                <p>{{ car.colour }}</p>
                <p>{{ car.passenger_places }}</p>
                <p>{{ car.build_year }}</p>
                <p>{{ car.fuel }}</p>
                <p>{{ car.consumption }}</p>

                <a href="{{ url_for('profile.car_edit', username=current_user.username, license_plate=car.license_plate) }}"
                   class="btn btn-primary">Edit car</a>
            </div>
        </div>
    {% endfor %}
    <h1 class="display-4">Add a Car</h1>

    {{ wtf.quick_form(create) }}

{% endblock %}