{% extends "base.html" %}

{% block app_content %}

    <div>license_plate: {{ car.license_plate }}</div>
    <div>model: {{ car.model }}</div>
    <div>colour: {{ car.colour }}</div>
    <div>passenger_places: {{ car.passenger_places }}</div>
    <div>build_year: {{ car.build_year }}</div>
    <div>fuel: {{ car.fuel }}</div>
    <div>consumption: {{ car.consumption }}</div>

    {% if user == current_user %}
        <a href="{{ url_for('profile.user', user_id=car.user_id) }}">{{ 'See owner profile' }}</a>
    {% endif %}

{% endblock %}