{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 class="display-4">Edit profile</h1>
    <hr>
    <div class="card">
        <div class="card-body">
            Your profile picture is generated automatically based on your email address through Gravatar. You can change
            it
            <a href="https://en.gravatar.com/">here</a>.
        </div>
    </div>
    <form method="post" name="ride" onsubmit="beforeSubmit()">
        {{ wtf.quick_form(form, button_map={'delete':'danger'}) }}
    </form>
    <br>
{% endblock %}

{% block app_scripts %}
    <script type="text/javascript">

        function beforeSubmit() {
            let location = document.getElementById('address_id').value;
            location.replace(/\s/g, '+');
            $.ajax({
                url: "https://nominatim.openstreetmap.org/search/" + location + "?format=geojson",
                type: "GET",
                success: function (xhr) {
                    if (xhr.features.length === 0) {
                        if (which === 'from') {
                            alert("could not find departure address location: {{ fl }}")
                        } else if (which === 'to') {
                            alert("could not find arrival address location: {{ tl }}")
                        }
                    }

                    const prop = xhr.features[0].properties;
                    let res;
                    if (prop.osm_type === 'way') res = 'W';
                    else if (prop.osm_type === 'relation') res = 'R';
                    else if (prop.osm_type === 'node') res = 'N';
                    document.getElementById('address_id').value = res + prop.osm_id;
                },
                error: function (xhr) {
                    alert(xhr)
                }
            });
        }
    </script>
{% endblock %}
